.header1,
.subheader1 .subheader2 {
    margin: 0;
}

.header1 {
    font-size: 3.2rem;
    font-weight: $font-weight-bold;
}

.subheader1 {
    font-size: 2.5rem;
    font-weight: $font-weight-medium;
}

.subheader2 {
    font-size: 2rem;
    font-weight: $font-weight-medium;
}

.body2 {
    font-size: 2rem;
    font-weight: $font-weight-regular;
}
