.header1,
.subheader1,
.subheader2,
.hero {
    margin: 0;
}

.hero {
    font-size: 6.4rem;
    font-weight: $font-weight-medium;
    text-shadow: $shadow-small;
    color: $accent;
}

.header1 {
    @include rfs(3.2rem);
    font-weight: $font-weight-bold;
}

.subheader1 {
    @include rfs(2.5rem);
    font-weight: $font-weight-medium;
}

.subheader2 {
    @include rfs(2rem);
    font-weight: $font-weight-medium;
}

.body1 {
    @include rfs(1.25rem);
    font-weight: $font-weight-regular;
}

.body2 {
    @include rfs(2rem);
    font-weight: $font-weight-regular;
}