// Body
$body-bg: #f8fafc;

// Typography
$font-family: "IBM Plex Sans", Helvetica, sans-serif;
$font-size-regular: 1.6rem;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #77569e;
$primary-light: #7174b5;
$accent: #fd367e;
$black: #141414;
$black-light: #a8a8a8;
$white: #fcfcfc;

// Shadow
$shadow-svg: 0 4px 8px rgba(#000, 0.25);
$shadow-svg-small: 0 4px 4px rgba(#000, 0.25);

$shadow: 0 4px 20px rgba(#000, 0.15);
$shadow-medium: 0 4px 12px rgba(#000, 0.2);
$shadow-small: 0 4px 4px rgba(#000, 0.15);

// Rounded corner
$round-corner: 8px;

// Gradient
$gradient: linear-gradient(150deg, #7274b6 26.86%, #7d51a1 93.24%);

// Sizing
$sidebar-width: 5%;
