.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 48rem;
    background-image: $gradient;
    box-shadow: $shadow;
    border-radius: $round-corner;
    color: $white;
    &-number {
        @include rfs(15rem);
    }
    &-footer {
        text-align: center;
        width: 50%;
    }
}

@include responsive-mobile{
    .counter{
        flex-direction: row;
        height: auto;
        & .header1:nth-child(1) {
            display: none;
        }
    }
}
